* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  width: 90%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 10vh 5vh auto 10vh;
  grid-row-gap: 0.5rem;
}

.header {
  border: 2px solid rgb(231, 16, 80);
}

.header--username {
  margin: 0.5rem 0;
  text-align: center;
}

.nav {
  display: flex;
  justify-content: space-around;
  margin: 0.2rem 0;
  border: 2px solid rgb(235, 149, 10);
}

.articlesList {
  border: 2px solid rgb(41, 121, 10);
}

.articlesList--article,
.commentsList--comment {
  margin: 1.2rem 0;
  border-bottom: 1px solid rgb(85, 199, 41);
}

.articlesList--article-title {
  font-weight: 500;
  margin: 0.3rem 0;
  line-height: 1.5rem;
}

.singleArticle--title {
  font-weight: 500;
  line-height: 2rem;
  font-size: 1.3rem;
}

.articlesList--article-info,
.singleArticle--info,
.commentsList--info {
  font-size: 0.9rem;
  margin: 0.7rem 0;
}

.singleArticle--body,
.commentsList--body {
  margin: 1.5rem 0;
  line-height: 1.7rem;
}

.commentsList--header {
  font-weight: 500;
  color: greenyellow;
}

.fa-trash {
  font-size: 1rem;
}

.footer {
  border: 2px solid rgb(22, 172, 192);
}




